[Unit]
Description=Sandcastle Docker (sysbox-runc)
After=network-online.target nss-lookup.target firewalld.service sysbox.service time-set.target
Wants=network-online.target
Requires=sysbox.service
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
Type=forking
Environment=SANDCASTLE_ROOT=/sandcastle
Environment=SANDCASTLE_DOCKER_PREFIX=sc_
ExecStart=__BUILD_DIR__/start.sh
ExecStop=__BUILD_DIR__/stop.sh
PIDFile=/run/__SANDCASTLE_DOCKER_PREFIX__docker/dockerd.pid
TimeoutStartSec=60
TimeoutStopSec=30
Restart=on-failure
RestartSec=5

LimitNPROC=infinity
LimitCORE=infinity
LimitNOFILE=infinity
TasksMax=infinity
Delegate=yes
KillMode=process
OOMScoreAdjust=-500

[Install]
WantedBy=multi-user.target
